/.idea/
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/t/
/docs/README.html
/docs/README.pdf
/aspera-*.gem
# rspec failure tracking
.rspec_status
# local contains private secrets
/local/
