/Gemfile.lock
/aspera-cli-*.gem
/coverage/
/simplecov.log
/tmp/
/.*_checked
.DS_Store
# rspec failure tracking
/.rspec_status
# to store things not to be in versioning:
.idea
.vscode
/Dockerfile
.bundle
