# DO NOT EDIT THIS FILE MANUALLY
# This file is automatically downloaded from:
# https://raw.githubusercontent.com/laurent-martin/aspera-api-examples/refs/heads/main/openapi/IBM%20Aspera%20Node%20API-4.4.6.yaml
# Use 'rake tools:openapi' to update this file

openapi: 3.0.1
info:
  title: IBM Aspera Node API
  description: |
    API for Aspera Node Management and Transfer Support
  version: 4.4.6
servers:
- url: https://ats-aws-eu-central-1.aspera.io/
tags:
- name: /access_keys
  description: "Create and manage access keys for High-Speed Transfer Server, and\
    \ Aspera on Cloud transfer service. Access keys enable tenant-level\
    \ access control over a given storage. Use access keys for authorization if the\
    \ client application interacts with the Node API through a server application\
    \ broker. Authenticate with an access key or Node API credentials. The creator\
    \ of the access key must be authorized to access the storage path that is specified\
    \ in the access key configuration."
- name: /events
  description: "Get event activity information of a node including file transfer,\
    \ creation, modification, and deletion; file permission creation, modification,\
    \ and deletion. Authentication with Node API credentials or an access key ID\
    \ and secret allows you to see any event in the same tenant space. Bearer token \
    \ users can see any event associated with a file ID to which they have any permission."
- name: /files/{id}
  description: "Create, modify, and delete files, symbolic links, and directories\
    \ on a node. Requires access key or bearer token authentication. Bearer token\
    \ users are restricted to the tenant space that is defined in the bearer token\
    \ and by the permissions set on the files."
- name: /files/{uri_encoded_path}/contents
  description: 'List the contents of the specified file with the uri encoded path
    relative to the docroot. Content cannot be returned for symbolic links or directories.
    The maximum size being returned is 4096 bytes.'
- name: /files/browse
  description: |
    Retrieve metadata about the contents of the specified directory. Does not accept bearer token authentication; use /files/{id}/files instead.
- name: /files/page
  description: |
    Retrieve metadata about the contents of the specified directory by paging through with iteration tokens. Does not accept bearer token authentication; use /files/{id}/files instead. Available in HSTS as of version 4.0.
- name: /files/create
  description: |
    Create directories, files, and symbolic links. Does not accept bearer token authentication; use /files/{id} instead. On Unix-like OSes, if you want to allow /files/create to set the owner of the created files and directories, run the following command: 'asconfigurator -x "set_node_data;group_ownership,-"' Otherwise, when a group ID is set on a parent directory, files and directories and that are created in the parent directory by using /files/create have the primary group ID of the user rather than the group ID of the parent directory.
- name: /files/delete
  description: "Delete the specified paths and directories. Does not accept bearer\
    \ token authentication; use /files/{id} instead."
- name: /files/download_setup
  description: FASP transfers can use transfer tokens to authorize a specific download.
    Transfer tokens are the most restrictive of the tokens and require careful configuration.
- name: /files/info
  description: "Get metadata for the files and directories that are specified in an\
    \ array of paths. Does not accept bearer token authentication; use /files/{id}\
    \ instead."
- name: /files/rename
  description: "Rename the specified files and directories. Existing files and directories\
    \ cannot be overwritten by a /files/rename request. Does not accept bearer token\
    \ authentication; use /files/{id} instead."
- name: /files/search
  description: Search for objects in a specified path that match user-specified conditions
    and terms. Does not accept bearer token authentication.
- name: /files/upload_setup
  description: FASP transfers can use transfer tokens to authorize a specific upload.
    Transfer tokens are the most restrictive of the tokens and require careful configuration.
- name: /files/du
  description: Recursive size and counts of file and directory.
- name: /info
  description: Get information about the node set up and capabilities.
- name: /ops/transfers
  description: |
    Start and manage transfers between Aspera nodes including streaming transfers. Authentication with an access key or Node API credentials allows you to start a transfer of any content in the tenant space (as allowed by the storage path in the access key or, for HSTS, by the node user's file restriction or docroot). You can get information about, modify, and cancel any transfers in the same tenant space. Authentication with a bearer token restricts you to the tenant space defined by the bearer token and the permissions on the content.
- name: /permissions
  description: "Create and manage file permissions and access levels for Node API\
    \ users who authenticate with bearer tokens. Access key users, access key owners,\
    \ and other admin users have all access levels permissions. Each permission includes\
    \ a user or group ID and access levels (file actions such as list, read, and delete).\
    \ Permission access levels apply recursively and cumulatively; once a user has\
    \ a certain access level to a directory, they have at least that level of access\
    \ to all children. An access level permission allows the user to give or remove\
    \ the same permission to others."
- name: /ping
  description: Test the responsiveness of a node.
- name: /public_keys
  description: |
    Register a dynamic SSH public key for a user. This key can then be used for authenticating transfers started through SSH when using a public key for authentication. The key should be provided in OpenSSH format. Authentication is required, whether with Node API credentials, access key, or bearer token. 
- name: /self
  description: "For access key and bearer token users, get metadata for the access\
    \ key that is used to authenticate the request. Equivalent to sending a request\
    \ to /access_keys/self."
- name: /space
  description: "For High-Speed Transfer Server nodes to get the\
    \ total and available space for the file system, drives or partitions (logical\
    \ or physical) that host one or more queried paths."
- name: /usage
  description: "Retrieve usage data, as bytes transferred in, bytes transferred out,\
    \ and total, listed by usage ID. The usage ID is a user-defined tag that is configured\
    \ as part of the transfer request, either in an /ops/transfers request body or\
    \ on the ascp command line. You can also retrieve usage data for a specific usage\
    \ ID. Usage information (usage ID and bytes transferred) is not available until\
    \ the FASP transfer gracefully terminates (completes or errors). If the FASP transfer\
    \ is stopped abruptly, no usage information is retained. To get transfer rates\
    \ for a specific transfer as time series data, use /ops/transfers/bandwidth. Authentication\
    \ with Node API credentials allows you to retrieve usage for the node user. If\
    \ an access key is also provided as a query, the response is the same as for access\
    \ key authentication. Authentication with a master access key ID and secret allows\
    \ you to retrieve usage associated with the access key, including usage by all\
    \ usage IDs, aggregate usage for the access key and any sub-access keys, and usage\
    \ by access key (for sub-access keys). Authentication with a sub-access key allows\
    \ you to retrieve only usage data associated with the sub-access key (no data\
    \ by usage IDs or aggregate data). Authentication with a bearer token allows you\
    \ to retrieve usage data for the associated access key only if the bearer token\
    \ has an admin scope-role. Bearer tokens with user scope-role cannot access /usage."
paths:
  /access_keys:
    get:
      tags:
      - /access_keys
      summary: Get metadata for all access keys
      description: Get information about all access keys to which the user has access.
      security:
        - basicAuth: []
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accessKeyGETall'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
      - /access_keys
      security:
        - basicAuth: []
      summary: Create an access key
      description: Create an access key that allows the user to access the specified
        path on the HSTS node storage.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accessKeyRequest'
        required: true
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accessKeyGETMetadata'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Conflict. The access key id already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Access Key Configuration
  /access_keys/{access_key_id}:
    get:
      tags:
      - /access_keys
      summary: Get metadata for the specified access key
      description: "Get information about an access key to which the authentication method has access, specified by access key ID."
      security:
        - basicAuth: []
      parameters:
      - name: access_key_id
        in: path
        description: The ID of the access key.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accessKeyGETMetadata'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
      - /access_keys
      summary: Modify the specified access key
      security:
        - basicAuth: []
      description: Update an access key configuration with the specified values. The
        request body is the same as for a POST request and can contain all or only
        the updated element-value pairs. The access key ID cannot be updated.
      parameters:
      - name: access_key_id
        in: path
        description: The ID of the access key to modify.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accessKeyPUTRequest'
        required: true
      responses:
        "204":
          description: Success - No Content
          headers:
            Content-Length:
              description: The number of characters that are returned in the response
                body.
              schema:
                type: integer
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Access Key Configuration
    delete:
      tags:
      - /access_keys
      security:
        - basicAuth: []
      summary: Delete the specified access key
      description: Delete the access key as well as the event and transfer history
        associated with the access key.
      parameters:
      - name: access_key_id
        in: path
        description: The ID of the access key to delete.
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Success - No Content
          headers:
            Content-Length:
              description: The number of characters that are returned in the response
                body.
              schema:
                type: integer
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /events:
    get:
      tags:
      - /events
      summary: Get event information for the node
      description: Get a full or filtered list of node events to which the user has access.
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: after_time
        in: query
        description: "Get events that occurred after the specified time, in ISO format\
          \ (for example, 2015-09-11T23:53:40Z). If both \"after_time\" and \"iteration_token\"\
          \ are specified, the most recent of those two attributes is used to determine\
          \ which events are returned in the response."
        schema:
          type: string
      - name: iteration_token
        in: query
        description: Get events that occurred after the specified iteration token.
          The iteration token defines a specific time in the log; it is generated
          by a previous request and returned in the LINK header. The same iteration
          token is reported to different applications as long as they are querying
          the same server.
        schema:
          type: string
      - name: count
        in: query
        description: "Get no more than the specified number of events. If the number\
          \ of events exceed the value for \"count\", then the oldest events are returned.\
          \ Calling /events again with the returned HTTP link header returns the next\
          \ oldest set."
        schema:
          type: integer
      - name: type
        in: query
        description: "Get events that match the type and subtype. Only one \"type\"\
          \ can be specified at a time. To retrieve multiple types, use a glob pattern\
          \ as a value for \"type_glob[]\". If no types are specified, all event types\
          \ are returned. File event types are \"file.created\", \"file.deleted\"\
            , \"file.modified\", and \"file.moved\". Permission event types are \"permission.created\"\
          , \"permission.edited\", \"permission.deleted\" and \"permission.modified\".\
          \ Transfer event types are \"download.started\", \"upload.started\", \"transfer.started\"\ (returns both \"download.started\" and\ \"upload.started\"), \"download.ended\", \"upload.ended\", and \"transfer.ended\"(returns both \"download.ended\" and \"upload.ended\")."
        schema:
          type: string
      - name: "type_glob[ ]"
        in: query
        description: "Get events that match the glob pattern, in which an asterisk\
          \ (\"*\") is a wildcard for all available subtypes. Note: You can include\
          \ only  one glob pattern in a request, so if you need information for both\
          \ \"file.*\" and \"permission.*\" events, for example, you must make two\
          \ separate calls to the endpoint."
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Link:
              description: A URL to the next set of items that match the current request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events-get-200'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /events/{id}:
    get:
      tags:
      - /events
      summary: Get event information for a specific event
      description: Get the event information for a specific event. User must have
        access to the event to get information.
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The event ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events-id-get-200'
        "404":
          description: Not Found. Invalid event ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /files/{id}/files:
    get:
      tags:
      - "/files/{id}"
      summary: List metadata for files in a directory
      description: "List the metadata of files in the specified directory (IDs of\
        \ links and folders are not supported). Bearer token users must have \"list\"\
        \ permission (recursively) on the directory, and \"admin\" permissions to\
        \ view file paths."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: Accept-version
        in: header
        description: "Header 'Accept-version: 4.0' it improves the file browse performance\ without loading everything in and being able to do global sort and filter, so with this\ header, query parameters sort, min_size, max_size, min_modified_time, max_modified_time,\
          \ target_id, target_node_id, files_prefetch_count, page, name_iglob are no longer\ supported."
        schema:
          type: string
      - name: iteration_token
        in: header
        description: "The iteration token to explore the current page. For the first\
          \ page, this is not required, and the next page token will be returned in\
          \ the header 'X-Aspera-Next-Iteration-Token'. This is used when header 'Accept-version'\
          \ is present."
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the folder.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Return the metadata of files in the directory as pages and for
          the specified page number.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Return the metadata for the specified number of files on each
          page.
        schema:
          type: integer
      - name: include
        in: query
        description: "Include the specified attributes in the metadata. Values are\
          \ \"access_levels\" and \"recursive_counts\"."
        schema:
          type: string
      - name: sort
        in: query
        description: "Sort the files by the specified attribute. Sortable attributes\
          \ are \"name\", \"size\", \"type\", \"modified_time\", \"recursive_folder_count\"\
          , \"recursive_link_count\", \"recursive_file_count\", or \"recursive_size\"\
          ."
        schema:
          type: string
      - name: name
        in: query
        description: Filter files by file name. Use this option to return metadata
          for a specific file.
        schema:
          type: string
      - name: name_glob
        in: query
        description: "Filter files by name using glob patterns that are case sensitive,\
          \ such as \"*.TXT\"."
        schema:
          type: string
      - name: name_iglob
        in: query
        description: "Filter files by name using glob patterns that are case insensitive,\
          \ such as \"*.txt\"."
        schema:
          type: string
      - name: min_size
        in: query
        description: "Filter files by size, returning metadata only for files that\
          \ are larger than the specified value (in bytes)."
        schema:
          type: integer
      - name: max_size
        in: query
        description: "Filter files by size, returning metadata only for files that\
          \ are smaller than the specified value (in bytes)."
        schema:
          type: integer
      - name: type
        in: query
        description: "Filter files by type. Value is \"file\", \"link\", or \"folder\"\
          ."
        schema:
          type: string
      - name: min_modified_time
        in: query
        description: "Filter files by modified time, returning metadata only for files\
          \ that were modified after the specified time. Time in ISO format."
        schema:
          type: string
      - name: max_modified_time
        in: query
        description: "Filter files by modified time, returning metadata only for files\
          \ that were modified before the specified time. Time in ISO format."
        schema:
          type: string
      - name: target_id
        in: query
        description: Filter files by target ID.
        schema:
          type: string
      - name: target_node_id
        in: query
        description: Filter files by the ID of the node on which the symbolic link
          target is located.
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Aspera-Next-Iteration-Token:
              description: The next iteration token that can be used to explore the
                next page. This is returned when header 'Accept-version' is used.
              schema:
                type: string
            X-Aspera-Node-Cache:
              description: Information about the node cache for debugging purposes.
              schema:
                type: string
            Access-Control-Expose-Headers:
              description: "A list of access control headers that are returned in\
                \ the response. For example, X-Aspera-Node-Cache, X-Total-Count, X-Aspera-Next-Iteration-Token"
              schema:
                type: string
            X-Total-Count:
              description: "The number of items for which metadata is returned. For\
                \ example,  X-Total-Count: 2"
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/files-id-get-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid file ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Conflict. File already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable. The access key is locked for backup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
      - "/files/{id}"
      summary: "Create a file, symbolic link, or folder"
      security:
        - basicAuth: []
        - bearerAuth: []
      description: "Create a zero or non-zero byte file, symbolic link, or directory\
        \ in the directory that is specified by ID. Specify the object characteristics\
        \ in the request body. Bearer token users must have \"write\" permission (recursively)\
        \ on the directory to create files or links, and \"mkdir\" permission to create\
        \ directories. The non-zero file size is limited by max_request_file_create_size_kb\
        \ server configuration char_device_file type cannot be created."
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The file ID of the directory in which to create the item.
        required: true
        schema:
          type: string
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-id-files-post-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-id-files-post-200'
        "400":
          description: "Bad Request. Request contains a formatting or syntax error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid file ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Conflict. File already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable. The access key is locked for backup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request Body
  /files/{id}:
    get:
      tags:
      - "/files/{id}"
      summary: Get the metadata of a file
      description: "List the metadata of the specified file, symbolic link, or folder.\
        \ Bearer token users must have \"list\" permission (recursively) on the directory\
        \ and \"admin\" permissions to view file paths."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: Accept-version
        in: header
        description: "Header 'Accept-version: 4.0' for GET /files/{id}?ajq_id=, with this header present, the delete job status can be requested with the parameter ajq_id."
        schema:
          type: string
      - name: id
        in: path
        description: "The ID of the file, symbolic link, or directory"
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: "Include the specified attributes in the metadata. Value is \"\
          access_levels\", \"permission_count\", \"recursive_counts\"."
        schema:
          type: string
      - name: ajq_id
        in: query
        description: "the delete job id from the response of DELETE /files/{id}"
        schema:
          type: string
      - name: stop
        in: query
        description: |-
          To cancel/abort a delete job: stop=cancel: request job be cancelled. Node executing job will attempt to
                  cancel job if it has not been started. Resulting status will
                  either be canceled or might end up completing if not stopped
                  in time
          stop=abort:  try to stop job even if it has started execution, leaving
                  result in an indeterminate state. Job handler may or may not
                  be written to attempt this operation. If not, it will be
                  ignored. If job has not yet started execution, job status
                  will be returned as cancelled.
        schema:
          type: string
          enum:
          - cancel
          - abort
      responses:
        "202":
          description: "With the header 'Accept-version: 4.0' present, 202 will be\
            \ returned with a response body including the job status."
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
            Content-Type:
              description: "The file type, such as `text/plain` or `application/json`."
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-id-get-202'
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-id-get-200'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid file ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Conflict. File already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable. The access key is locked for backup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
      - "/files/{id}"
      summary: "Modify a file, symbolic link, or directory"
      description: "Rename the specified file, directory, or symbolic link. Change\
        \ the mount point status of a directory. Bearer token users must have \"rename\"\
        \ permission (recursively) on the file. Mount point status is only visible\
        \ to master access keys."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: "The ID of the file, symbolic link, or directory."
        required: true
        schema:
          type: string
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-id-put-request'
        required: true
      responses:
        "204":
          description: Success - No Content
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content: {}
        "400":
          description: Bad Request
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid file ID.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable. The access key is locked for backup.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
    delete:
      tags:
      - "/files/{id}"
      summary: "Delete a file, link, or directory"
      description: "Delete the specified file, symbolic link, or directory. Bearer\
        \ token users must have \"delete\" permission (recursively) on the file."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: Accept-version
        in: header
        description: "Header 'Accept-version: 4.0' for DELETE /files/{id}, with this header\ present, the delete request will be executed in the background."
        schema:
          type: string
      - name: id
        in: path
        description: "The ID of the file, symbolic link, or directory to delete."
        required: true
        schema:
          type: string
      responses:
        "202":
          description: "With the header 'Accept-version: 4.0' present, 202 will be\
            \ returned with a response body including the job id."
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
            Content-Type:
              description: "The file type, such as `text/plain` or `application/json`."
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-id-delete-202'
        "204":
          description: Success - No Content
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
            Content-Type:
              description: "The file type, such as `text/plain` or `application/json`."
              schema:
                type: string
          content: {}
        "404":
          description: Not Found. Invalid file ID.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable. The access key is locked for backup.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /files/{id}/content:
    get:
      tags:
      - "/files/{id}"
      summary: Get file contents
      description: List the contents of the specified file. Content cannot be returned
        for symbolic links or directories. Bearer token user must have "read" permission
        (recursively) on the file. Content cannot be returned for files that are larger
        than the configured maximum requested file creation size ("max_request_file_create_size_kb").
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The id of the file.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
            Content-Type:
              description: "The file type, such as `text/plain`."
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid file ID.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable. The access key is locked for backup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /files/{uri_encoded_path}/contents:
    get:
      tags:
      - "/files/{uri_encoded_path}/contents"
      summary: Get file contents
      description: List the contents of the specified file with the uri encoded path
        relative to the docroot. Content cannot be returned for symbolic links or
        directories. The maximum size being returned is 4096 bytes.
      security:
        - basicAuth: []
      parameters:
      - name: Authorization
        in: header
        description: "Required for basic token. Value is the token string as \"Basic\
          \ {token_string}\"."
        required: true
        schema:
          type: string
      - name: uri_encoded_path
        in: path
        description: The uri encoded path of the file.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The maximum of 4096 bytes contents of the file is returned
            in the response.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
            Content-Type:
              description: "The file type, such as `application/octet-stream`."
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: File Not Found. The path must be uri encoded.
          headers:
            Content-Type:
              description: "The content type of the response, `application/json; charset=utf-8`."
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable. The access key is locked for backup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /files/browse:
    post:
      tags:
      - /files/browse
      summary: Browse the specified path.
      description: Retrieve metadata about the contents of the specified path.
      security:
        - basicAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesBrowseRequest'
        required: true
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesBrowseResponse'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Browse request
  /files/page:
    post:
      tags:
      - /files/page
      summary: Paging through the file set
      description: This was introduced since 4.0. It provides a new interface to page
        through the whole file set with improved performance.
      security:
        - basicAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesPageRequest'
        required: true
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesPageResponse'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /files/create:
    post:
      tags:
      - /files/create
      summary: Create files and directories
      description: All requests to this endpoint use the same headers.
      security:
        - basicAuth: []
      requestBody:
        description: "An array of pathnames to create and the type of object (directory,\
          \ file, or symbolic link)."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-create-post-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-create-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid pathname.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Conflict. Path already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /files/delete:
    post:
      tags:
      - /files/delete
      summary: Delete file and directories
      security:
        - basicAuth: []
      requestBody:
        description: "An array of pathnames to delete. For directories, specify the\
          \ behavior for deleting non-empty directories."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-delete-post-request'
        required: true
      responses:
        "200":
          description: "OK. Pathnames from the request are returned. If a pathname\
            \ could not be deleted, it is followed by an error message."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-delete-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden. The directory cannot be deleted because it contains
            files that are in use.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. The file could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Directory Not Empty. The directory is not empty and "recursive_delete"
            is set to "false".
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /files/download_setup:
    post:
      tags:
      - /files/download_setup
      summary: Create a download transfer token
      description: FASP transfers can use transfer tokens to authorize the transfer.
        Transfer tokens are the most restrictive of the tokens and require careful
        configuration. Token expiration is configurable on HSTS/HSTE.
      security:
        - basicAuth: []
      requestBody:
        description: The download token configuration.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-download_setup-post-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-download_setup-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid pathnames.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /files/info:
    post:
      tags:
      - /files/info
      summary: "Get metadata for the files and directories that are specified in an\
        \ array of paths. To get file information by\
        \ using bearer token authentication, use the /files/{id} endpoint."
      security:
        - basicAuth: []
      requestBody:
        description: An array of pathnames for which to return file metadata.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-info-post-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-info-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid pathname.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /files/rename:
    post:
      tags:
      - /files/rename
      summary: Rename files and directories
      security:
        - basicAuth: []
      requestBody:
        description: "An array of pathnames, with their current and new names."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-rename-post-request'
        required: true
      responses:
        "200":
          description: OK. If an error occurred performing the rename operation for a specific path, the error is returned as part of the response element for that path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-rename-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /files/search:
    post:
      tags:
      - '/files/search '
      summary: Search the file system
      security:
        - basicAuth: []
      requestBody:
        description: "The search specifications, including the base path, number of\
          \ items to return, and filters."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-search-post-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-search-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid pathname.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /files/upload_setup:
    post:
      tags:
      - /files/upload_setup
      summary: Create an upload transfer token
      description: "FASP transfers can use transfer tokens to authorize the transfer.\
        Transfer tokens are the most restrictive of the tokens and require careful\
        configuration. Token expiration is configurable on HSTS/HSTE. \
        Note: Transfer specifications that are set in aspera.conf overwrite the \
        corresponding values in the request body when the token is created."
      security:
        - basicAuth: []
      requestBody:
        description: The upload token configuration.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/files-upload_setup-post-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-upload_setup-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid pathnames.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /files/du:
    post:
      tags:
      - /files/du
      summary: Get information about size and counts of files and directories.
      description: "Recursive size and counts of files and directories."
      security:
        - basicAuth: []
      requestBody:
          description: The request body with a path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesDuRequest'
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files-du'
  /info:
    get:
      tags:
      - /info
      summary: Get information about the node configuration
      description: "List information about the node configuration, including the version\
        \ of the Aspera software, licensed features, the node ID and cluster ID, and\
        \ requirements for the transfer specification, such as content protection\
        \ or minimum cipher for encryption of data in transit."
      security:
        - basicAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/info-get-200'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /ops/transfers:
    get:
      tags:
      - /ops/transfers
      summary: Get Information about transfers (all or filtered)
      description: "Retrieve information about transfers to which you have access.\
        \ The response can be filtered and sorted. To retrieve information about transfers\
        \ that were started with Faspex or the Connect Server web UI, use the Reliable\
        \ Query API. To retrieve bandwidth data, use /ops/transfers/bandwidth."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: Origin
        in: header
        description: Use this header to simulate CORS and permit access to the specified
          HTTP resource. The response includes headers to support CORS.
        schema:
          type: string
      - name: after_time
        in: query
        description: Get transfers for which at least one event happened (sessions
          in progress or terminated) after the specified time. Value is time in ISO
          format %Y-%m-%dT%H:%M:%SZ.
        example: after_time=2022-11-30T15:00:00Z
        schema:
          type: string
      - name: iteration_token
        in: query
        description: Get transfers after the specified iteration token. The iteration
          token defines a specific time in the log; it is generated by a previous
          request and returned in the LINK header. The same iteration token is reported
          to different applications as long as they are querying the same server.
        schema:
          type: string
      - name: count
        in: query
        description: "Get no more than the specified number of transfers. If the number\
          \ of transfers exceeds count, then the oldest count of transfer events are\
          \ returned. Querying /ops/transfers again with the returned HTTP link header\
          \ returns the next oldest set."
        schema:
          type: integer
      - name: max_items
        in: query
        description: "Overrides the aspera.conf option <max_response_entries>, which\
          \ limits the number of files that can be reported across sessions."
        schema:
          type: integer
      - name: active_only
        in: query
        description: "If true, get only running transfers (waiting or running). If\
          \ false, get only transfers that are not running (completed or failed)."
        schema:
          type: boolean
      - name: direction
        in: query
        description: Get only transfers that are going in the specified direction.
          Value is "send" or "receive".
        schema:
          type: string
      - name: tag
        in: query
        description: |
          Filter transfers by tag. The value can use the format {key}[,{keys}...] or {key}[,{keys}...]={value}. For example, to return all transfers that have "xfer_retry" set to 10 in the tags value ("tags":{"aspera":{"xfer_retry":10}}), use "tag=aspera.xfer_retry%3D10" (where "%3D" is URL-encoded "="). To return transfers that are started with an access key (so the transfer specification includes "tags":{"aspera":{"node":{"access_key":"{access_key_id}"}}}), use "tag=aspera.node.access_key". To return transfers that are started with a specific access key, use "tag=aspera.node.access_key%3D{access_key_id}".
        schema:
          type: string
      - name: view
        in: query
        description: |
          Return only the specified information. Allowed values are "id" (Return only the transfer session IDs), "short_summary" (Show an abbreviated summary and session information, but do not report file data), or "summary" (Show the full summary and session information, but do not report file data).
        schema:
          type: string
      - name: access_key
        in: query
        description: Get transfers that are authorized by the specified access key.
          This option is only allowed with node user authentication.
        schema:
          type: string
      responses:
        "200":
          description: OK - Successful response
          headers:
            Access-Control-Expose-Headers:
              description: "If the request included an \"Origin\" header, value is\
                \ \"Link\"."
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: "If the request included an \"Origin\" header, the resource\
                \ specified in that header."
              schema:
                type: string
            Link:
              description: A URL to the next set of items that match the current request.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transferResponseSessionSpec'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
      - /ops/transfers
      summary: Start a new transfer
      description: Start a transfer between the local node (the node receiving the
        Node API request) and a remote node that uses the transfer specifications
        that are contained in the request body
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      security:
        - basicAuth: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transferPostRequest'
        required: true
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transferResponseSpec'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Transfer Request
  /ops/transfers/{transfer_id}:
    get:
      tags:
      - /ops/transfers
      summary: Get information about a specific transfer.
      description: Retrieve information about a specific transfer to which you have
        access and that was started by using the Node API.
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: transfer_id
        in: path
        description: The ID of the transfer for which to report metadata.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transferResponseSessionSpec'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
      - /ops/transfers
      summary: Modify a transfer.
      description: "Modify the transfer specification of an active transfer, specified\
        \ by transfer ID, by submitting a partial or complete request body that contains\
        \ the values."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: transfer_id
        in: path
        description: The ID of the transfer for which to report metadata.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transferPutRequest'
        required: true
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transferResponseSpec'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Put Request
    delete:
      tags:
      - /ops/transfers
      summary: "Cancel a transfer. Must use HTTP CANCEL action, not DELETE."
      description: "Cancel a transfer. Use CANCEL instead of DELETE. The user must\
        \ have access to the transfer and the transfer must be started by a Node API\
        \ request. This is a shortcut to a PUT /ops/transfers/{id} request that has\
        \ { \"status\" : \"canceled\" } as the request payload."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: transfer_id
        in: path
        description: The ID of the transfer for which to report metadata.
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Success - No Content
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content: {}
        "400":
          description: Bad Request.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "503":
          description: Service Unavailable
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /ops/transfers/bandwidth:
    get:
      tags:
      - /ops/transfers
      summary: Get bandwidth usage data for all transfers.
      description: Retrieve time series data on transfer rates for all transfers to
        which the user has access.
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: duration
        in: query
        description: "Get bandwidth data for the specified number of seconds at the\
          \ start of each transfer. Default is 600, maximum is 3600."
        schema:
          type: integer
      - name: start_time
        in: query
        description: Get bandwidth data for transfers after the specified time. Time
          is specified in ISO format.
        schema:
          type: string
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bandwidthResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /permissions:
    get:
      tags:
      - /permissions
      summary: Get permissions information
      description: Get information about permissions and optionally filter the response.
        Sub-access key users cannot view permissions.
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: file_id
        in: query
        description: "Get all permissions, including inherited (recursive) permissions,\
          \ for the file ID. Requires any permission (recursively) on the file. The\
          \ response includes only permissions that apply to the user, unless the\
          \ user has any permissions on the root file, in which case all permission\
          \ are returned."
        schema:
          type: string
      - name: inherited
        in: query
        description: Use with "file_id" to retrieve all permissions with or without
          inherited (recursive) permissions. Requires any permission (recursively)
          on the file.
        schema:
          type: boolean
      - name: access_type
        in: query
        description: "Use with \"access_id\" to retrieve all permissions for the given\
          \ access ID. Value is \"user\" or \"group\". Returns permission information\
          \ only if the user is the access ID or has any permissions to the root file.\
          \ Otherwise, filters permissions by access ID."
        schema:
          type: string
      - name: access_id
        in: query
        description: "Use with \"access_type\" to retrieve all permissions for the\
          \ given access ID. Returns permission information only if the user is the\
          \ access ID or has any permissions to the root file. Otherwise, filters\
          \ permissions by access ID."
        schema:
          type: string
      - name: created_by_id
        in: query
        description: "Retrieve all permissions for the given ID. Returns permission\
          \ information only if the user is the created by ID or has any permissions\
          \ to the root file. Otherwise, filters permissions by created by ID and\
          \ excludes inherited permissions."
        schema:
          type: string
      - name: page
        in: query
        description: Return the permissions as pages. Use with "per_page" to set the
          number of permissions returned per page.
        schema:
          type: integer
      - name: per_page
        in: query
        description: Return the specified number of permissions per page.
        schema:
          type: integer
      - name: "embed[]"
        in: query
        description: Embed the file metadata in the response. Value is "file".
        schema:
          type: string
      - name: "access_levels[]"
        in: query
        description: "Filter permissions by access levels. Value is \"list\", \"read\"\
          , \"write\", \"delete\", \"mkdir\", \"rename\", or \"preview\". Filter by multiple access levels by using multiple queries."
        schema:
          type: string
      - name: access_level
        in: query
        description: Filter permissions by access level. Value is "edit" or "view".
        schema:
          type: string
      - name: last_updated_by_id
        in: query
        description: Filter permissions by "last_updated_by_id" and exclude inherited
          permissions.
        schema:
          type: string
      - name: tags
        in: query
        description: Filter permissions by tag and exclude inherited permissions.
          Value has the format *tag_id*(*tag_value*).
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Expose-Headers:
              description: "A list of access control headers that are returned in\
                \ the response. For example, Access-Control-Expose-Headers: X-Total-Count"
              schema:
                type: string
            X-Total-Count:
              description: "The number of items for which metadata is returned. For\
                \ example,  X-Total-Count: 2"
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permissions-get-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
      - /permissions
      summary: Create a permission
      description: Apply permissions to a file or directory for a specific user. Accessible
        only if the user has any permission (recursively) on the associated file.
        Sub-access key users cannot create or view permissions.
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      requestBody:
        description: Request schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/permissions-post-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permissions-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden. The user does not have access_id to create a permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Conflict. The permission already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /permissions/{id}:
    get:
      tags:
      - /permissions
      summary: Get permissions information for a specific permission
      description: "Get information about a specific permission by permission ID.\
        \ Accessible only if the user created the permission, is the target of the\
        \ permission, or has any permission (recursively) on the associated file.\
        \ Sub-access key users cannot view permissions."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The permission ID
        required: true
        schema:
          type: string
      - name: "embed[]"
        in: query
        description: Embed the file metadata in the response. Value is "file".
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Total-Count:
              description: "The number of items for which metadata is returned. For\
                \ example,  X-Total-Count: 2"
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permissions-id-get-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid permission ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
      - /permissions
      summary: Modify a permission
      description: "Modify the access levels or tags associated with a permission.\
        \ A user can modify permissions on a file only if they were the creator or\
        \ have any permissions (recursively) on the file. Only the access levels or\
        \ tags can be modified. To change other settings, delete the permission and\
        \ recreate it with the new values."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The permission ID
        required: true
        schema:
          type: string
      requestBody:
        description: Request schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/permissions-id-put-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permissions-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden. The user does not have access_id to create a permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid permission ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Conflict. The permission already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: PutRequestSchema
    delete:
      tags:
      - /permissions
      summary: Delete a permission
      description: "Delete a permission, specified by permission ID."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The permission ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content: {}
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden. The user does not have access_id to create a permission.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Not Found. Invalid permission ID.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Conflict. The permission already exists.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permissions-id-delete-409'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          headers:
            Content-Length:
              description: "The size of the response body, in bytes."
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /ping:
    get:
      tags:
      - /ping
      summary: Test the responsiveness of a node
      description: Send a request to the node to confirm that it is connected and
        responsive.
      security:
        - basicAuth: []
      responses:
        "200":
          description: OK. No Content.
          content: {}
        "500":
          description: Internal Server Error.
          content: {}
  /public_keys:
    post:
      tags:
        - /public_keys
      summary: Register a dynamic public key to the server.
      description: Register a dynamic public key to the server for user authentication.
      security:
        - basicAuth: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/publicKeyRequest'
      responses:
        '201':
          description: Public key registered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publicKeyResponse'
        '400':
          description: Invalid request payload.
        '500':
          description: Internal server error.
  /self:
    get:
      tags:
      - /self
      summary: Get access key metadata.
      description: "Get metadata, including ID and storage path, for the access key\
        \ that is associated with the basic token or bearer token that is used to\
        \ authenticate the request."
      security:
        - basicAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: OK - Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accessKeyGETMetadata'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /space:
    post:
      tags:
      - /space
      summary: Get space information for the file system
      description: "Get the total and available space for the file system, drives\
        \ or partitions (logical or physical) that host one or more queried paths."
      requestBody:
        description: The request body with an array of paths.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/space-post-request'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/space-post-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal Server Error. The server configuration is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: Request body
  /usage:
    get:
      tags:
      - /usage
      summary: Get all usage data
      description: "Retrieve usage information, as allowed by the authentication method."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: access_key
        in: query
        description: "When authenticating with Node API credentials, retrieve usage\
          \ data for the specified access key."
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usage-get-200'
        "400":
          description: Bad Request. Request contains a formatting or syntax error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Event logging is not enabled on the server or the usage ID
            is not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /usage/{id}:
    get:
      tags:
      - /usage
      summary: Get usage data for a specific usage id
      description: "Retrieve usage information for a specific usage ID, as allowed\
        \ by the authentication method."
      security:
        - basicAuth: []
        - bearerAuth: []
      parameters:
      - name: X-Aspera-AccessKey
        in: header
        description: Required only for bearer token authorization. The access key
          ID used to create the bearer token; value is the access key ID.
        schema:
          type: string
      - name: Authorization
        in: header
        description: "Required for basic token or bearer token authorization. Value\
          \ is the token string as \"Basic {token_string}\" or \"Bearer {token_string}\"\
          ."
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The usage ID.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
[...]
