name: Deploy

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build + Publish
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: optional
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0.0"
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Publish to RubyGems
        if: contains(github.ref, 'refs/tags/v')
        run: |
          mkdir -p $HOME/.gem
          echo "${{ secrets.PRIVATE_KEY_PEM }}" > $HOME/.gem/signing_key.pem
          echo "rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}" > $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/signing_key.pem $HOME/.gem/credentials
          bundle exec rake release SIGNING_KEY=$HOME/.gem/signing_key.pem
