name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: optional
    strategy:
      matrix:
        ruby: ["3.1", "3.2", "3.3", "3.4", "4.0", "jruby"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Create Aspera config file
        run: |
          mkdir -p "$HOME/.aspera/ascli"
          cat > "$HOME/.aspera/ascli/config.yaml" << EOF
          ---
          config:
            version: 4.25.0
          default:
            server: server_user
          server_user:
            url: ssh://eudemo.asperademo.com:33001
            username: "${{ secrets.CF_HSTS_SSH_USER }}"
            password: "${{ secrets.CF_HSTS_SSH_PASS }}"
          file:
            asc_name: ""
            utf_name: ""
          server:
            inside_folder: ""
          EOF
        shell: bash

      - name: Set ASPERA_CLI_TEST_CONF_FILE
        run: |
          echo "ASPERA_CLI_TEST_CONF_FILE=$HOME/.aspera/ascli/config.yaml" >> $GITHUB_ENV
          echo "ASCLI_CONFIG_FILE=$HOME/.aspera/ascli/config.yaml" >> $GITHUB_ENV

      - name: Run tests
        run: bundle exec rake spec

      - name: Run ascli test browse
        run: bundle exec ascli server browse /

      - name: Run ascli test browse
        run: bundle exec ascli config preset overview

      - name: Run ascli install ascp
        run: bundle exec ascli config ascp install

      - name: Run ascli test transfer
        run: bundle exec ascli server upload --to-folder=/Upload 'faux:///test.${{ matrix.ruby }}?1k'
