name: Test

# Trigger tests only on Ruby file changes
on:
  push:
    paths:
      - "**/*.rb"
      - "Rakefile"
      - "**/*.rake"
      - "bin/**"
      - "Gemfile"
      - "**/*.gemspec"
      - "tests/tests.yml"
      - ".github/workflows/test.yml"
  pull_request:
    paths:
      - "**/*.rb"
      - "Rakefile"
      - "**/*.rake"
      - "bin/**"
      - "Gemfile"
      - "**/*.gemspec"
      - "tests/tests.yml"
      - ".github/workflows/test.yml"
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: optional:special
    strategy:
      matrix:
        ruby: ["3.1", "3.2", "3.3", "3.4", "4.0", "jruby"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Run tests
        run: |
          export ASPERA_CLI_TEST_CONF_URL="data:application/yaml;base64,$(base64 -w0 <<<$(cat <<'EOF'
          ---
          config:
            version: 4.25.0
          default:
            server: server_user
          server_user:
            url: ssh://eudemo.asperademo.com:33001
            username: "${{ secrets.CF_HSTS_SSH_USER }}"
            password: "${{ secrets.CF_HSTS_SSH_PASS }}"
          server:
            upload_folder: /Upload
          jns:
            ssh_options:
              host_key:
              - rsa-sha2-512
              - rsa-sha2-256
              - ssh-rsa
              kex:
              - curve25519-sha256
              - diffie-hellman-group14-sha256
              encryption:
              - aes256-ctr
              - aes192-ctr
              - aes128-ctr
          EOF
          ))"
          bundle exec rake test:run'[github_smoke_test]'
