name: Yank RubyGems version

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to yank (e.g. 4.26.0)"
        required: true
        type: string

jobs:
  yank:
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: optional:development:special
    steps:
      - uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0.1"
          bundler-cache: true

      - name: Yank gem version
        env:
          RUBYGEMS_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
        run: |
          mkdir -p $HOME/.gem
          GEM_CREDS=$HOME/.gem/credentials
          echo ":rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}" > $GEM_CREDS
          chmod 0600 $GEM_CREDS
          bundle exec rake release:yank[${{ inputs.version }}]
